[Unit]
Description=xdom web service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/xdom
EnvironmentFile=/opt/xdom/conf/config.env
ExecStart=/opt/xdom/bin/xdom
Restart=always
RestartSec=5
StandardOutput=append:/var/log/xdom/stdout.log
StandardError=append:/var/log/xdom/stderr.log

[Install]
WantedBy=multi-user.target
